.profile-card{
    margin: 30px 11px 0px 11px;
    width: 200px;
    height: 300px;
    text-decoration: none;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.1s ease-out !important;
    position: relative;

    border: 3px solid lightgray;
    border-radius: 15px;
    min-height: 300px;
    min-width: 30%;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    padding: 7px;
}

.profile-body {
    display: none;
}